body{
    background-color: #eeeeee;
}
div{
    text-align:center;
    font-size: 40px;
    background-image: url("photo1.jpg.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}
h1{
    color: rgb(253, 68, 1);
}
h2{
    color: rgb(11, 11, 149);
}
table{
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
    font-size:30px;
}
table,th,td{
    border:1px solid rgb(0, 0, 0);
    padding: 5px;
}
i{
    font-size:40px;
    text-decoration: underline;
    color: rgb(107, 142, 35);  
    height: 500px;
}
p{
    border: 2px solid rgb(6, 6, 6);
    line-height: 1;
    margin:0;   
}